%article
  #article-header
    #title-wrapper
      #title
        %a{:title => post.title, :href => "/post/#{post.short_title}"}= post.title
      #tags
        - post.tags.collect do |x|
          #tag= x.name
    #time
      %p.metadata
        Published on 
        %time{:datetime => rfc_date(post.created_at)}= human_date(post.created_at)
        By
        = post.author
  #article-content
    %p.body
      = markup post.body

